# OpenOCD 烧录配置 — STM32F103 via CMSIS-DAP
source [find interface/cmsis-dap.cfg]
source [find target/stm32f1x.cfg]
adapter speed 5000

init
reset halt
program "build/dr_arm/dr_arm.axf" verify reset exit
